#qr-message {
    width: 100%;
    text-align: center;
    padding: 40px;
    background-color: #aaa;
    color: #000;
}

#qr-canvas {
    width: 100%;
    border: 3px solid #aaa;
    /* filter: contrast(200%) saturate(200%); */
}

#canv-test {
    width: 100%;
    border: 3px solid yellow;
}
